.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  cursor: pointer;
}

.primary {
  background-color: black;
  color: white;
}

.loading {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  animation: spin 600ms linear infinite;
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.outline {
  background-color: white;
  outline: 1px solid black;
  outline-offset: -1px;
}

.dashed-outline {
  background-color: white;
  outline: 1px dashed black;
  outline-offset: -1px;
}

.disabled {
  opacity: 0.6;
}

.outline .loading {
  border-color: black !important;
  border-left-color: white !important;
}

.rounded {
  border-radius: 1000px;
}

.button img {
  height: 20px;
  width: 20px;
}

.dashed-outline {
  background-color: #fff;
  outline: 1px dashed rgba(0, 0, 0, 0.4);
  outline-offset: -1px;
  gap: 0;
}
