.common-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.common-button {
  height: 51px;
  border-radius: 30px;
  width: calc(100% - 40px);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.common-button.route {
  width: 100%;
}

.active {
  cursor: pointer;
}

.inactive {
  pointer-events: none;
}

.active:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
}

.click {
  opacity: 50%;
}

.click-remove {
  opacity: 0%;
}

.loader {
  border: 3px solid #ffffff;
  border-radius: 50%;
  border-top: 3px solid black;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  right: 20px;
}

.sized-box {
  width: 16px;
  height: 16px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
